/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

html{
    background-color: #333;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

header, h1, form{
    text-align: center;
}

.deleter{
    color: red;
    background-color: darkred;
}

.deleter:hover{
    background-color: rgb(63, 3, 3);
}


/* Visuals branch changes */

:root{
--persian-green: #1b998bff;
--space-cadet: #2d3047ff;
--canary: #fffd82ff;
--light-salmon: #ff9b71ff;
--sizzling-red: #e84855ff;

}

html{
    background-color: var(--space-cadet);
}

/*Header area */

.titleBand{
    background-color: var(--sizzling-red);
    color: var(--canary);
    margin: 2rem 0;
    padding: 3rem 0;
    border: 0px solid;
    border-color: var(--light-salmon);
    border-width: 0.5rem 0;
    font-weight: 700;
}

header{
    font-size: 2.6rem;
}

.imgBooks{
    display: block;
    background-image: url('/books.jpg');
    height: 20vh;
    background-position: center;
    background-size: contain;
    border-style: solid;
    border-color: silver;
    border-width: 0.5rem 0;
}

.credits{
    display: none;
}

/* Books Area */

span.property{
    color: var(--persian-green);
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

span.author{
    font-style: italic;
}

ul.buks{
    border: 0.5rem var(--space-cadet) groove;
    background-color: var(--persian-green);
    min-height: 600px;
    padding: 1rem;
    width: 95vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 0.5rem;
    justify-items: center;
}

.buks li{
    display: block;
    padding: 1rem;
    background-color: var(--space-cadet);
    color: white;
    border: 5px black inset;
    width: 100%;
}

.buks li:hover{
    background-color:  rgb(68, 72, 105);
    transform: scale(1.01);
}

.propertyWrap{
    height: 3.2rem;
}

.updater{
    background-color: green;
    color: white;
}

.updater:hover{
    background-color: rgb(5, 66, 5);
}

.deleter{
    color: white;
    background-color: darkred;
}

.deleter:hover{
    background-color: rgb(63, 3, 3);
}

.deleter, .updater{
    width: 150px;
    text-align: center;
    height: 3.0rem;
    font-family: monospace;
}

/* Form area */

div.books{
    width: 80vw;
    background-color: var(--light-salmon);
    margin: 1rem auto;
    padding: 1rem;
    border-style: solid;
    border-color: var(--canary);
    border-width: 0.5rem;
    color: black
}

.books h2{
    font-size: 2rem;
    color: var(--space-cadet);
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem; 
}

input,select{
    background-color: var(--canary);
    width: 50%;
}

form{
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 1rem;
}

.wrap{
    text-align: start;
}

#checkbux{
    width: auto;
}

.formEnter{
    width: 200px;
    background-color: var(--sizzling-red);
    font-weight: 800;
    font-size: 1.6rem;
}

.formEnter:hover{
    background-color: rgb(245, 70, 50);
    color: black;
}

/* footer area */

footer{
    text-align: center;
}

footer a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    ul.buks{
        grid-template-columns: 50% 50%;
    }

    form{
        grid-template-columns: 50% 50%;
    }
    
}

@media screen and (max-width: 600px) {
    ul.buks{
        grid-template-columns: auto;
    }

    form{
        grid-template-columns: auto;
    }
    
}

