*{
    box-sizing: border-box;
}

html{
    background-color: #333;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-height: 20vh;
}

span.property{
    color: darkred;
    font-size: 110%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

span.author{
    font-style: italic;
}

ul.buks{
    padding: 0.1rem;
    border: 3px white solid;
    background-color: #444;
    display: flex;
    flex-direction: row;
    min-height: 900px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: 2rem auto;
}

.buks li{
    display: block;
    width: 30%;
    padding: 1rem;
    background-color: white;
    color: black;
    border: 3px black inset;
    margin: 0.5rem;
    border-radius: 10px;
}

.buks li:hover{
    background-color: #999;
}

header, h1, form{
    text-align: center;
}